{% extends "juegos/base.html" %}

{% block title %}Detalles{% endblock %}

{% block content %}
<div class="card">

    <h2>Detalles de la reseña</h2>

    <p class="muted">
        Crear, editar y borrar productos. (Sin relaciones entre modelos)
    </p>


    <div>
        <strong>{{ resena.usuario_username }}</strong>
        <span class="muted"> — {{ resena.juego }}</span>
        <span class="muted"> — {{ resena.puntuacion }} €</span>
        <span class="muted"> — {{ resena.fecha }}</span>
        <span class="muted"> — {{ resena.comentario }}</span>
    </div>

    <div class="actions">
        <a class="btn" href="{% url 'resenas_list' %}">Volver</a>
    </div>

    {% if not resena %}
        <p>No hay reseñas todavía.</p>
    {% endif %}

</div>
{% endblock %}